*{
    margin: 0;
    padding: 0;
}

header{
    margin: 40px;
    margin-bottom: 80px;
}

ul{
    list-style: none;
}

ul li{
    display: inline-block;
}

#nav_start{
    margin-right: 40px;
    font-size: 30px;
}

.next{
    margin-right: 10px;
    font-size: 20px;
}

article{
    margin: 40px;
    margin-bottom: 150px;
}

.images{
    display: flex;
    justify-content: space-between;
}

.image_input img{
    width: 680px;
    height: 500px;
    margin-bottom: 20px;
    /* border-radius: 50px; */
    box-shadow: 0 10px 10px 0 rgba(0,0,0,0.5);
}

.images{
    margin-bottom: 40px;
}

footer{
    margin-left: 200px;
    width: 420px;
    font-size: 25px;
}

footer .header{
    margin-bottom: 30px;
}

footer .article{
    border-bottom: 3px solid black;
    padding-bottom: 10px;
    display: inline-block;
}

footer .footer{
    margin-top: 80px;
    margin-bottom: 100px;
}

footer .footer span{
    display: block;
}